<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Greeble Theme Playground</title>
    <link rel="stylesheet" href="/static/greeble/greeble-core.css">
    <link rel="icon" href="/static/favicon.ico" sizes="any">
    <link rel="icon" href="/static/greeble-icon-white.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    $styles
</head>
<body>
    <div class="playground">
        $sidebar
        $preview
        $customizer
    </div>
    $javascript
</body>
</html>
